<div class='load-history'>
  {{#if controller.isLoading }}
    <div>Loading message ...</div>
  {{else}}
    <a {{action loadHistory}}>Load more history</a>
  {{/if}}
</div>

<table class='table table-bordered'>
  {{#each controller.messages}}
    <tr {{bindAttr class="isShowName::unborder-top"}}>
      <td class='name'>
        {{#if isShowName }}{{name}}{{/if }}
      </div>
      <td class='content'>{{content}}</div>
    </tr>
  {{/each}}
</table>
