<div id='main-chat'>
  <table class='table table-bordered'>
    <tr>
      <td class='left-column'>
        <div class='load-history'>
          {{#if controller.isLoading }}
            <div>Loading message ...</div>
          {{else}}
            <a {{action loadHistory}}>Load more history</a>
          {{/if}}
        </div>

        <div id='chat-content'>
          <table class='table table-unbordered'>
            {{#each controller.messages}}
              <tr {{bindAttr class="isShowName::unborder-top"}}>
                <td class='name'>
                  {{#if isShowName }}{{name}}{{/if }}
                </div>
                <td class='content'>{{urlify content}}</div>
              </tr>
            {{/each}}
          </table>
        </div>
      </td>

      <td class='right-column'>
        <div class='action'>
          <a {{action toggleRealtime}}>
            Turn {{#if controller.isRealtimeMessage}}off{{else}}on{{/if}} realtime message
          </a>
        </div>
        <div id='chat-users'>
          <ul>
            {{#each controller.users}}
            <li>{{name}}</li>
            {{/each}}
          </ul>
        </div>
      </td>
    </tr>
  </table>
</div>
